<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="robot1" class="impls.robot.Robot1"/>

    <bean id ="robotWithArgs" class="impls.robot.Robot1">
        <constructor-arg ref="toshibaHand"/>
        <constructor-arg ref="toshibaLeg"/>
        <constructor-arg ref="toshibaHead"/>
    </bean>

    <!-- parts for robotWithArgs -->
    <bean id="toshibaHand" class="impls.toshiba.ToshibaHand"/>
    <bean id="toshibaLeg" class="impls.toshiba.ToshibaLeg"/>
    <bean id="toshibaHead" class="impls.toshiba.ToshibaHead"/>

</beans>